<div class="m-2">
    <h5>Why you should buy from us:</h5>
    <ul>

        <li>Customer friendly e-commerce website to securely purchase items online.</li>
        <li>Customers save time and money buying from shopping online.</li>
        <li>Our store provides exceptional and extraordinary customer service with attention to detail.</li>
        <li>Items offered at best possible prices.</li>
        <li>Free gift wrapping & personalised service.</li>
        <li>Free delivery* to your doorstep by courier.</li>

    </ul>
    <span>* Checkout total price is more than 49.99$</span>
    <div class="">
            <img width="150px" src=''/>
    </div>

</div>