.top{
    background-color: #37434e;
    height: 100px; 
}
img{
    height:5.75rem;
    border-radius: 50%;  
}
i{
    height:  0.75rem;
    color: beige;
    cursor: pointer;
    
}
p{
    height:  0.75rem;
    color: beige;
    justify-content: center;
    text-align: center;
}