<div class="wrapper col-11 d-block mb-5">
  <div class=" row m-1 d-flex justify-content-evenly">
    <button type="button" (click)="this.cartService.deleteAllProductsFromCart(this.cartService.cartIdOpen)" class="col-12 m-1 btn btn-outline-danger" *ngIf="router.url === '/shopping'" [disabled]="this.cartService.disableOrderButton==true">Clear all <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
      </svg>
    </button>
  </div>
    <div class="cart">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid col-12 d-flex justify-content-evenly">
          <input class="form-control me-2" type="text" placeholder="Search product in cart" [(ngModel)]="search" 
            (ngModelChange)="this.cartService.searchProduct(search)">
        </div>
      </nav>
      <table class="table table-hover col mb-4 table-responsive">
        <thead>
          <tr>
            <th >img</th>
            <th >name</th>
            <th>price</th>
            <th>quantity</th>
            <th *ngIf="router.url === '/shopping'">delete</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let product of this.cartService.filterProducts" style="max-height: 75px;">
              <td class="pt-4"><img src="http://localhost:5000/{{product.product.image}}"  class="card-img-top" alt="..."></td>
              <td class="pt-4">{{product.product.name}}</td>
              <td class="pt-4">{{product.price*product.quantity}}$</td>
              <td class="pt-4">{{product.quantity}} units</td>
              <td class="pt-4 closeBTN" *ngIf="router.url === '/shopping'"><button type="button" class="btn btn-close" (click)=" this.cartService.deleteSingleProduct(product.id)"></button></td> 
          </tr>
        </tbody>
      </table>
      <div class="row ">
        <h3 class="col-7 m-0">total price : {{this.cartService.totalOrder}} </h3>
        <button type="button" class="col btn btn-outline-dark" [disabled]="this.cartService.disableOrderButton==true" routerLink="/order" *ngIf="router.url === '/shopping'">To Order</button>
        <button type="button" class="col-3 btn btn-outline-dark"  routerLink="/shopping" *ngIf="router.url === '/order'">Back to shopping</button>
    </div>
      
    </div>
   
    
</div>
