.cart{
    width: 100%;
    height: 330px; 
}
.btn{
    padding: 0;
  }
.disabled-field {
    pointer-events: none;
    display: none;
}
img{
  height: 50px;
  width: 50px;
}
table{
  height: 325px;
}
.btn-close:hover{
  transform: scale(1.10);
  transition:  0.1s ease-in-out;
  background-color: red;
}
tr:hover{
  transform: scale(1.01);
  transition:  0.2s ease-in-out;
}
